@page "/acc"

<h3>Account</h3>
<p>
    Введите имя пользователя:
    <h2>
        <input @bind ="UserName"   @oninput ="HasUserName" /> 
    </h2>
</p>
<p>
    Введите пароль:
    <h2>
        <input @bind="Password" @oninput="HasUserName" />
    </h2>
</p>

@code {
    User u = new User();
    [Parameter]
    public string UserName { get; set; }

    [Parameter]
    public string Password { get; set; }

    private void HasUserName()
    {
        u.ShowUser();
        u.Password = Password;
        u.UserName = UserName;
    }
}
