@page "/NewPage"
@namespace MySite.Pages

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h3>MyPage) @cur</h3>
            <button @onclick="Random">KHono4ka</button>

        </div>
    </div>
</div>


@code {
    private int cur = 0;
    void Random()
    {
        cur = new Random().Next(-1000, 1000);
    }
}
