@inject MySiteServer.Data.Repository.IRepository repository;

@page "/goods"
<h3>Goods</h3>
    @foreach (var item in goods)
    {
        <tbody>
            <tr>
                <td>
                    <div>
                        <p>
                        @item.GoodName
                            </p>
                    </div>
                </td>
            </tr>
        </tbody>
    }


    @code {
        private IEnumerable<Good> goods = new List<Good>();

        protected override void OnInitialized()
        {
            goods = repository.GetAllGoods();   
        }


    }
