@page "/contacts"

<p>
    Информация о наших магазинах.
</p>
<h3>
    ТК «Манеж»
    пр. Кирова, 27
    +7 (8452) 72-2050
    Часы работы: 10:00 - 21:00
</h3>
<h3>
    ТЦ «Тау Галерея»
    3-я Дачная ул.
    +7 (8452) 32-5179
    Часы работы: 10:00 - 22:00
</h3>
<h3>
    ТРЦ «Триумф Молл»
    ул. Зарубина, 167
    +7 (8452) 30-9461
    10.00 - 22.00
</h3>

@code {

}
